{% extends '::base.html.twig' %}

{% block title %}Feed Reader{% endblock %}

{# todo: check how netter cdns could be included #}
{# todo: add minimizing for custom files #}
{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    {% javascripts '@AppBundle/Resources/js/app.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
{% endblock %}

{% block body %}
    {% verbatim %}
    <div class="container" ng-app="app" ng-controller="FeedController">
        <h2>Feed application</h2>
        <div class="col-sm-12">
            <form class="form-inline" role="form">
                <div class="form-group">
                    <input class="form-control" ng-model="source" value="" placeholder="Enter source">
                </div>
                <input type="button" class="btn btn-success" value="Get data" ng-click="retrieveItems(source)" />
            </form>
            <ul class="pager">
                <li><a href="#">Previous</a></li>
                <li><a href="#">Next</a></li>
            </ul>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>ProductID</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Category</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="product in products">
                        <td>
                            <a target="_blank" href="{{ product.imageURL }}">
                                <img ng-src="{{ product.imageURL }}" alt="{{ product.name }}" class="img-responsive">
                            </a>
                        </td>
                        <td>{{ product.productID }}</td>
                        <td><a href="{{ product.productURL }}">{{ product.name }}</a></td>
                        <td>{{ product.description }}</td>
                        <td>{{ product.currency }} {{ product.price }}</td>
                        <td>
                            <div class="product-categories" ng-repeat="category in product.categories">
                                <span class="label label-primary">{{ category }}</span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    {% endverbatim %}
{% endblock %}
